[submodule "themes/bare"]
	path = themes/bare
	url = https://github.com/orf/bare-hugo-theme.git
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "themes/ink-free"]
	path = themes/ink-free
	url = https://github.com/chollinger93/ink-free
[submodule "themes/kaslaanka"]
	path = themes/kaslaanka
	url = https://github.com/M1cR0xf7/kaslaanka.git
[submodule "themes/chalk"]
	path = themes/chalk
	url = https://github.com/ph-ph/chalk.git
