.gblog-nav__entry {
    border-color: #212121;
    color: #212121;
}

.gblog-footer a,
.gblog-footer a:visited,
.gblog-footer a:hover,
.gblog_rss_feed {
    color: #212121;
}

.gblog-nav__control {
    color: #212121;
}

.gblog-header a,
.gblog-header a:visited,
.gblog-header a:hover {
    color: #303030;
}

.gblog-header a:hover {
    text-decoration: underline;
}

.video-thumbnail {
    position: relative;
    display: inline-block;
}

.play-button {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 50%;
    top: 50%;
    margin-left: -24px;
    /*half of the width */
    margin-top: -24px;
    /*half of the height */
}

.cloudinary-gallery {
    max-height: 200px;
}

.gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-auto-rows: minmax(100px, auto);
}

.gallery-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item-thumb {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gallery-error {
    border: 3px dashed red;
    text-align: center;
    font-weight: bold;
}