/* You can add custom styles here. */
/* Global customization */
/* Light mode theming */

:root {
  --header-background: #d9ead3;
  --header-font-color: #303030;
  --header-nav-link-color: #212121;
  --header-nav-background: #9CB894;
  --header-nav-background-link: #9aab7f;

  --body-background: #ffffff;
  --body-font-color: #343a40;

  --mark-color: #ffab00;

  --button-background: #9CB894;
  --button-border-color: #FFFFFF;

  --link-color: #518169;
  --link-color-visited: #c54e8a;
  --link-color-footer:	#d9ead3;

  --code-background: #f5f6f8;
  --code-accent-color: #e3e7eb;
  --code-accent-color-lite: #eff1f3;
  --code-font-color: #5f5f5f;

  --code-copy-background: #f5f6f8;
  --code-copy-font-color: #6b7784;
  --code-copy-border-color: #adb4bc;
  --code-copy-success-color: #00c853;

  --accent-color-dark: #868e96;
  --accent-color: #e9ecef;
  --accent-color-lite: #f8f9fa;

  --control-icons: #b2bac1;

  --footer-background: #9CB894;
  --footer-font-color: #212121;
  --footer-link-color: #212121;
  --footer-link-color-visited: #212121;
}

.gblog-nav__entry {
	border-color: #212121;
	color: #212121;
}

.gblog-footer a, .gblog-footer a:visited, .gblog-footer a:hover, .gblog_rss_feed {
	color: #212121;
}

.gblog-nav__control {
	color: #212121;
}

.gblog-header a, .gblog-header a:visited, .gblog-header a:hover {
	color: #303030;
}

.gblog-header a:hover {
	text-decoration: underline;
}

.video-thumbnail {
  position: relative;
  display: inline-block;
}

.play-button {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 50%;
  top: 50%;
  margin-left: -24px; /*half of the width */
  margin-top: -24px; /*half of the height */
}

.cloudinary-gallery {
  max-height: 200px;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.gallery-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-item-thumb {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}