{{ define "main" }}
  <!-- Begin Mailchimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left;
    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
      We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup" class="subscribe">
      <form action="https://martsmusings.us11.list-manage.com/subscribe/post?u=1a2ff06e682eadc4316ed6c86&amp;id=908c9a9c20&amp;f_id=0089a5e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
    <label for="mce-EMAIL">Email address:
  </label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="me@email.com" required>
    <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1a2ff06e682eadc4316ed6c86_908c9a9c20" tabindex="-1" value=""></div>
          
      </div>
  </form>
  </div>
  <div id="mce-responses" class="clear foot">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>
  <!--End mc_embed_signup-->
  {{ $pages := where .RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ if (eq .Kind "home") }}
    {{ $pages = where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $pages = (where $pages ".Params.unlisted" "!=" "true") }}
  {{ end }}

  {{ $paginator := .Paginate $pages }}
  {{ range $paginator.Pages }}
    <article class="gblog-post">
      <header class="gblog-post__header">
        <h1 class="gblog-post__title">
          <a href="{{ .RelPermalink }}">{{ partial "utils/title" . }}</a>
        </h1>
      </header>

      <section class="gblog-markdown">
        {{ .Summary }}
      </section>
      <div class="gblog-post__readmore">
        {{ if .Truncated }}
          <a
            class="flex-inline align-center fake-link"
            title="Read full post"
            href="{{ .RelPermalink }}"
          >
            Read full post &#x1F453;
          </a>
        {{ end }}
      </div>

      <footer class="gblog-post__footer">
        <div class="flex flex-wrap align-center gblog-post__meta">
          {{ partial "metadata.html" . }}
        </div>
      </footer>
    </article>
  {{ end }}
  {{ partial "pagination.html" . }}
{{ end }}
