{{ define "main" }}
  {{ partial "mailchimp" . }}
  <article class="gblog-post">
    <header class="gblog-post__header">
      {{ $source := ($.Resources.ByType "image").GetMatch "{*feature*,*cover*,*thumbnail*}" }}
      {{ with $source }}
        <div class="gblog-post__feature">
          <picture>
            {{ $featured := .Fill (printf "910x280 %s" (default "Smart" .Params.anchor)) }}
            <source srcset="{{ $featured.Permalink }}" />
            <img
              src="{{ $featured.Permalink }}"
              alt="{{ default (partial "utils/title" $) .Params.description }}"
            />
          </picture>
          {{ with $source.Params.credits }}
            <span>Credits: {{ . | $.Page.RenderString | safeHTML }}</span>
          {{ end }}
        </div>
      {{ end }}


      <h1 class="gblog-post__title">{{ partial "utils/title" . }}</h1>

      {{ if or (eq .Type (default "posts" .Site.Params.GeekblogContentSection)) (eq .Type "post") }}
        <div class="flex flex-wrap align-center gblog-post__meta gblog-post__meta--head">
          {{ partial "metadata.html" . }}
        </div>
      {{ end }}
    </header>
    <section class="gblog-markdown">
      {{ partial "utils/content" . }}
    </section>
    <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://marts-musings.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </article>
{{ end }}
